[user]
	name = Steve Kelly
	email = kd2cca@gmail.com
[color]
	ui = true
[github]
	user = sjkelly
[push]
	default = simple
[alias]
	cm = commit -m
	co = checkout
	st = status
	pb = pull --rebase
	fa = fetch --all
[commit]
	gpgsign = true
[commit]
	gpgsign = true